<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>bookList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item style="margin:10px;" *ngFor="let book of books" (click)="viewBook(book)">
      <ion-img style="margin:auto; height: 40px; width: 40px;" [src]="book.picture"></ion-img>
      <ion-label style="margin-left: 10px;">{{book.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
