<ion-header [translucent]="true">
  <ion-toolbar>
    <img slot="start" style="height: 50px; margin:auto 10px" src="../../assets/images/app_logo_trans.png">
    <ion-title>
      AR Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="tertiary" (click)="(scan())" style="margin:20px; height: 100px; cursor: pointer;" *ngIf="!loading">
    <ion-card-content>
      <ion-row>
        <ion-icon style="font-size: 60px; margin:10px 0 0 10px" name="barcode-outline"></ion-icon>
        <h1 style=" margin: 15px 10px 0 10px">Scan A Book!</h1>
      </ion-row>
      <p style="margin: -25px 10px 10px 80px; font-size: 12px;">Scan a book with your phone camera.</p>
    </ion-card-content>
  </ion-card>
  <ion-row style="margin: auto 20px;" *ngIf="!loading">
    <ion-label style="margin: auto 10px;">Search By:</ion-label>
    <ion-select style="width: 90px; margin-right:20px" interface="popover" [(ngModel)]="searchType"
      (ionChange)="onSearchChange()">
      <ion-select-option value="title">Title</ion-select-option>
      <ion-select-option value="author">Author</ion-select-option>
      <ion-select-option value="isbn">ISBN</ion-select-option>
    </ion-select>
  </ion-row>
  <ion-row style="margin: 20px 20px auto 20px ;" *ngIf="!loading">
    <ion-input *ngIf="searchType !== 'author'" style="text-align: left; margin-right: 20px;" clearInput
      [(ngModel)]="searchText" [placeholder]="searchPlaceholder">
    </ion-input>

    <ion-input *ngIf="searchType === 'author'" style="text-align: left; margin-right: 20px;" clearInput
      [(ngModel)]="authorFirstName" placeholder="Author First Name">
    </ion-input>
    <ion-input *ngIf="searchType === 'author'" style="text-align: left; margin-right: 20px;" clearInput
      [(ngModel)]="authorLastName" placeholder="Author Last Name">
    </ion-input>

  </ion-row>
  <ion-button *ngIf="!loading" expand="block" style="margin: 20px"
    [disabled]="(searchType !== 'author' && (!searchText || searchText === '')) || (searchType === 'author' && authorFirstName.trim() === '' && authorLastName.trim() === '')"
    (click)="searchForBook()">Search</ion-button>

  <ion-row *ngIf="loading" style="height: calc(100vh - 200px);">
    <span *ngIf="loading" style="margin:auto;">
      <ion-spinner style="margin:auto;" name="dots"></ion-spinner>
    </span>
  </ion-row>
  <ion-row style="margin: 20px;" *ngIf="!loading">
    <ion-note>Recents</ion-note>
  </ion-row>

  <ion-list style="margin: 20px;" *ngIf="recents && recents.length && !loading">
    <ion-item *ngFor="let recent of recents; let i = index">
      <ion-img (click)="viewBook(recent)" style="margin:5px 10px 5px 0; height:50px" [src]="recent.picture"></ion-img>
      <ion-note (click)="viewBook(recent)" style="margin:auto auto auto 0">{{recent.title}}</ion-note>
      <ion-icon (click)="deleteRecent(i)" color="danger" name="trash-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <h4 style="text-align: center;" *ngIf="(!recents || !recents.length) && !loading">No Recent Books</h4>

</ion-content>
